<div class="input">
  <label for={{inputName}} class="input__label {{classHidden}}">
    {{label}}
  </label>
  <input
    class="input__input {{classErrorInput}}"
    type={{type}}
    name={{inputName}}
    id={{inputName}}
    placeholder={{label}}
    required="true"
    minlength={{minSymbol}}
    maxLength={{maxSymbol}}
  />
  <span class="input__error {{classError}}">
    {{errorMessage}}
  </span>
</div>